.about-wrapper {
    width: 100vw;
    /* height: 100vh; */
    background-color: var(--black);
    position: absolute;
}

.about-text {
    left: 23%;
}

.pic-obj-arr {
    position: relative;
}

.main-inner-wrapper {
    margin: 0 auto;
    width: 80%;
    display: flex;
    gap: 70px;
    justify-content: center;
}

.pic-box {
    width: 35%;
}


.pic-box img {
    width: 100%;
    max-width: 100%;
    display: block;
    border-radius: 50%;
}

.obj-person {
    width: 50%;
}

.person,
.about,
.arr-values {
    letter-spacing: 1px;
    font-size: 1.2rem;
    text-shadow: 1px 2px black;
}


.obj-about {
    position: absolute;
    top: 6%;
    left: 55%;
}

.yellow-bracket {
    color: var(--yellow);
}

.arr {
    width: 70%;
    margin: 100px auto 150px;
    text-align: center;
}

.arr-values {
    padding: 10px 20px;
    border-radius: 10px;
    /* border-bottom: 1px solid var(--yellow); */
    border-left: 1px solid var(--yellow);
    border-right: 1px solid var(--yellow);
    /* background: rgb(185, 132, 5);
    background: linear-gradient(135deg, rgba(185, 132, 5, 1) 0%, rgba(27, 24, 16, 1) 0%, rgba(96, 71, 11, 1) 0%, rgba(17, 17, 17, 1) 0%, rgba(20, 19, 17, 1) 6%, rgba(24, 21, 17, 1) 14%, rgba(98, 72, 11, 1) 49%, rgba(27, 23, 17, 1) 86%, rgba(22, 20, 17, 1) 89%, rgba(20, 19, 17, 1) 93%, rgba(27, 24, 17, 1) 100%, rgba(27, 24, 17, 1) 100%, rgba(27, 23, 17, 1) 100%, rgba(23, 21, 17, 1) 100%); */
}

.desc {
    margin-left: 180px;
    width: 74%;
    margin-bottom: 100px;
}

.h4-description {
    margin-bottom: 30px;
    text-transform: capitalize;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
}

.par-desc {
    margin-left: 10px;
    letter-spacing: 1px;
    font-size: 1.1rem;
    text-shadow: 1px 2px black;
    line-height: 1.8rem;
}

.open-tag {
    font-size: 1.2rem;
    font-weight: 600;
}

.closing-tag {
    font-size: 1.1rem;
    font-weight: 600;
}

.life {
    margin-left: 180px;
}

.hard-work,
.planning,
.preparation {
    width: 50%;
    height: 350px;
    margin-top: 50px;
    margin-bottom: 60px;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.626)), url(../images/hard-work.jpg);
    background-position: center center;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: all .3s;
    text-shadow: 1px 2px black;
}

.philosophy {
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 30px;
}

.planning {
    margin-left: 200px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.814), rgba(0, 0, 0, 0.751)), url(../images/plan.jpg);
}

.preparation {
    margin-left: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.814), rgba(0, 0, 0, 0.751)), url(../images/preparation.jpg);
}

.preparation:hover {
    box-shadow: 34px 11px 80px -9px rgba(248, 231, 28, 1),
        0px 15px 12px 0px rgba(0, 0, 0, 0.22);
}

.hard-work:hover {
    box-shadow: 34px 11px 80px -9px rgba(248, 231, 28, 1),
        0px 15px 12px 0px rgba(0, 0, 0, 0.22);
}

.planning:hover {
    box-shadow: 34px 11px 80px -9px rgba(248, 231, 28, 1),
        0px 15px 12px 0px rgba(0, 0, 0, 0.22);
}

.interests {
    margin: 150px 0 100px 180px;

}

.h4-interests {
    margin-bottom: 100px;
    text-transform: capitalize;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
}

.line-hobby-text {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2%;
    margin-bottom: 50px;
}

.line {
    height: .5px;
    background-color: var(--yellow);
}

.line-1 {
    width: 10%;
}

.line-2 {
    width: 61.1%;
}

.line-3 {
    width: 15%;
}

.line-4 {
    width: 51%;
}

.line-5 {
    width: 20%;
}

.line-6 {
    width: 43.4%;
}

.line-7 {
    width: 25%;
}

.line-8 {
    width: 33.5%;
}

.line-9 {
    width: 30%;
}

.line-10 {
    width: 26.7%;
}

.hobby-text {
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-shadow: 1px 2px black;
    font-weight: 500;
    transition: all .3s;
}

.hobby-text:hover {
    cursor: pointer;
    transform: skewY(-5deg) scale(1.1);
    text-shadow: 0 2px 10px var(--yellow);
}

/******************************** CLOSER ************************************/
.closer {
    margin-left: 180px;
    position: relative;
    margin-bottom: 200px;
}

.h4-closer {
    margin-bottom: 70px;
    text-transform: capitalize;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
}

.h5-closer {
    width: 40%;
    margin: 0 auto 100px;
    text-transform: capitalize;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 10px;
    text-shadow: 0 5px 15px black;
    position: relative;
}

.h5-closer::after {
    content: '';
    /* display: inline-block; */
    position: absolute;
    top: 55px;
    left: 0;
    height: .5px;
    width: 250px;
    background-color: var(--yellow);
}

.wedding-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: -55px;
}

.pic {
    width: 30%;
    margin-bottom: 8%;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    position: relative;
    transition: all .3s;
    opacity: 0.8;
}

.pic img {
    max-width: 100%;
}

.pic:hover {
    transform: scale(1.1) translateX(6px);
    filter: contrast(105%);
    opacity: 1;
}

.pic4,
.pic5,
.pic6 {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.pic4:hover,
.pic5:hover,
.pic6:hover {
    transform: scale(1.1) translateX(-6px);
}

/************************** BOOOKS ************************************/

.books {
    position: relative;
    margin-top: 150px;
    margin-left: -60px;
}

.h5-books {
    position: absolute;
    top: -30%;
    left: 38%;
}

/********************** SlIDER GALLERY ********************************/
.gallery-wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 150px auto;
}

.gallery {
    display: flex;
    width: 100%;
    overflow-x: scroll;
}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery div {
    width: 100%;
    height: 465px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    padding: 10px;
    flex: none;
    
}

.slider {
    background-position: center center;
    border-radius: 10px;
}

.slider1 {
    background-image: url(../images/slider1.jpg);
    background-size: contain;
}

.slider2 {
    background-image: url(../images/slider2.jpg);
    background-size: contain;
}

.slider3 {
    background-image: url(../images/slider3.jpg);
    background-size: cover;
}

.slider4 {
    background-image: url(../images/slider4.jpg);
    background-size: cover;
}

.slider5 {
    background-image: url(../images/slider5.jpg);
    background-size: cover;
}

.slider6 {
    background-image: url(../images/slider6.jpg);
    background-size: cover;
}

.gallery div span img {
    width: 100%;
    max-width: 100%;
    
}

.gallery div:hover {
    cursor: pointer;
}

#back-arr,
#forward-arr {
    align-self: center;
    font-size: 45px;
    cursor: pointer;
    margin: 40px;
    color: var(--yellow);
}


/********************** PROGRESS BUTTON ********************************/
#progress {
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: none;
    place-items: center;
    cursor: pointer;
    transition: all .3s;
}

#progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #222;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 30px;
}

#progress:hover {
    transform: translateY(-3px);
}

