@keyframes headingToBottom {
    0% {
        transform: translateY(-500px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes dashToRight {
    0% {
        transform: translateY(-900px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes navToTop {
    0% {
        transform: translatey(500px);
    }

    100% {
        transform: translateY(0);
    }
}


