.front-page {
    height: 100vh;
    width: 100vw;
    background: rgb(255, 180, 0);
    background: linear-gradient(78deg, rgba(255, 180, 0, 1) 21%, rgba(17, 17, 17, 1) 21%);
    display: flex;
    justify-content: center;
}

.inner-container-front-page {
    height: 90%;
    width: 95%;
    margin-top: 35px;
    display: flex;
}

/********************************* LEFT SIDE *******************************/
.left-picture {
    height: 100%;
    width: 32%;
    border-radius: 20px;
    box-shadow: 0 5px 17px rgba(0, 0, 0, .9);
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/********************************* CENTER *******************************/
.center-intro-text {
    height: 100%;
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: var(--white);
}

.header-name {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 34px;
}

.header-name h1 {
    color: var(--yellow);
}

.header-title {
    color: var(--white);
    margin-top: -15px;
}

.dash {
    height: 4px;
    width: 41px;
    background-color: var(--yellow);
    border-radius: 20px;
    position: relative;
    top: 53px;
    left: 210px;
    align-self: flex-start;
}

.center-intro-text p {
    width: 600px;
    line-height: 2;
    margin: 20px 0 30px 0;
}

.btn-more {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -20%;
    border: 1px solid var(--yellow);
    border-radius: 50px;
    padding: 16px 29px 16px 29px;
    background: transparent;
    outline: none;
    color: var(--white);
    position: relative;
    z-index: 1;
}

.btn-more::before {
    content: '';
    position: absolute;
    top: 0;
    right: 10%;
    height: 100%;
    width: 0%;
    background: var(--yellow);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    z-index: -1;
    transition: 0.4s;
}

.btn-more:hover {
    cursor: pointer;
}

.btn-more:hover::before {
    width: 90%;
}

.btn-more a {
    text-decoration: none;
    color: var(--white);
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 45px;
}

.btn-arrow {
    background-color: var(--yellow);
    height: 54px;
    width: 54px;
    border-radius: 50px;
    position: absolute;
    left: 75.8%;
    top: -1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-arrow i {
    font-size: 22px;
    padding: 11px;
}

/********************************* RIGHT SIDE -NAV *******************************/
.right-nav {
    /* height: 100%; */
    width: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.index-nav {
    margin-top: 370px;
}

.right-nav ul li {
    list-style-type: none;
    width: 50px;
    height: 50px;
    background-color: rgb(41, 40, 38);
    border-radius: 50%;
    position: relative;
    margin-bottom: 25px;
}

.nav-links span {
    position: absolute;
    right: 25px;
    padding: 13px 10px 7px 15px;
    width: 130px;
    height: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    text-transform: uppercase;
    font-weight: 600;
    visibility: hidden;
}

.nav-icon {
    color: #ddd;
    font-size: 20px;
    position: absolute;
    top: 15px;
    left: 15px;
}

.fa-house {
    margin-left: -1px;
}

.fa-user {
    margin-left: 1px;
}

.nav-links {
    text-decoration: none;
    color: var(--white);
}

.right-nav ul li:hover {
    background-color: var(--yellow);
}

.right-nav ul li:hover .nav-links span {
    visibility: visible;
    background-color: var(--yellow);
}


