/**************************** BACKGROUND - UPPER TEXT ***************************/
.skills-wrapper {
    height: auto;
    width: 100vw;
    background-color: var(--black);
    position: absolute;
    overflow: hidden;
}

.upper-text {
    width: 600px;
    margin: 70px auto;
}

.centered {
    width: 450px;
}

.background-text {
    color: #222222;
    text-transform: uppercase;
    font-size: 110px;
    font-weight: 900;
    letter-spacing: 15px;
    position: relative;
}

.front-text {
    color: var(--white);
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 900;
    position: absolute;
    top: 20%;
    left: 118px;
    letter-spacing: 1px;
}

.skills-header {
    left: 72px;
}

.yellow-word {
    color: var(--yellow);
}

/********************************** TECHNOLOGIES (SKILLS) *****************************/
.technical-skills {
    width: 100%;
}

.technical-skills h3 {
    color: var(--white);
    text-transform: capitalize;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 220px;
    margin: 0 0 50px 140px;
}

.yellow-h3 {
    color: var(--yellow);
}

.overlay ul {
    margin-top: 40px;
    position: absolute;
    left: 70px;
}

.overlay ul li {
    color: var(--white);
    list-style-type: none;
    font-style: italic;
}

.overlay ul li p {
    text-align: left;
}

.overlay ul li h5 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    margin-top: -5px;
}

.container-technologies {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    column-gap: 50px;
    row-gap: 60px;
    margin-left: -100px;
    margin-bottom: 150px;
}

.technologies {
    width: 250px;
    height: 200px;
    background-color: #222222;
    border-radius: 10px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.technologies img {
    display: block;
    width: 35%;
    max-width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #fc490b;
    overflow: hidden;
    width: 100%;
    height: 0;
    border-radius: 10px;
    transition: .3s ease;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(.5rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.technologies:hover .h5-animated {
    animation: moveInRight 1s;
}

.technologies:hover .par1 {
    animation: moveInLeft 1.2s;
}

.technologies:hover .par2 {
    animation: moveInLeft 1.2s .1s;
}

.technologies:hover .par3 {
    animation: moveInLeft 1.2s .2s;
}

.technologies:hover .overlay {
    bottom: 0;
    height: 100%;
}

.css {
    background-color: #2196F3;
}

.sass {
    background-color: #CE679A;
}

.bootstrap {
    background-color: #7911F7;
}

.gsap {
    background-color: #88CE02;
}

.js {
    background-color: #d4b906;
}

.react {
    background-color: #00D9D9;
}

.git {
    background-color: #DE4C36;
}

/********************************** TOOLS *****************************/
.tools {
    width: 100%;
}
.tools h4 {
    color: var(--white);
    text-transform: capitalize;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 0 50px 140px;
}

.yellow-h4 {
    color: var(--yellow);
}

.tools-box {
    text-align: center;
    width: 80%;
    color: var(--white);
    display: flex;
    margin: -15px 0 150px 140px;
    gap: 70px;
    font-size: 22px;
    font-style: italic;
}

.tools-box span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    padding: 5px 20px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: .2s ease-in-out;
}

.tools-box span:hover {
    background-color: rgb(58, 54, 9);
    cursor: pointer;
    box-shadow: 34px 11px 104px -9px rgba(248, 231, 28, 1),
        0px 15px 12px 0px rgba(0, 0, 0, 0.22);
}

/******************* TO BE LEARNT SKILLS**************************/
.planned-skill {
    width: 100%;
}

.planned-skills h4 {
    text-transform: capitalize;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 100px 0 50px 140px;
}

.container-planned-technologies {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    column-gap: 50px;
    margin-left: -100px;
    margin-bottom: 150px;
    position: relative;
}

.planned-technologies {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 220px;
    background-color: #222222;
    position: relative;
    border-radius: 21% 79% 100% 0% / 56% 54% 46% 44%;
}

.planned-technologies img {
    width: 40%;
    max-width: 100%;
    height: auto;
}


.overlay-planned {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    border-radius: 21% 79% 100% 0% / 56% 54% 46% 44%;
    transition: .3s ease;
}

.overlay-planned h6 {
    text-align: center;
    margin-top: 100px;
    font-size: 18px;
}

.planned-technologies:hover .overlay-planned {
    height: 100%;
}

.typescript {
    background-color: #2D79C7;
}

.node-js {
    background-color: #4F9C43;
}

.express {
    background-color: #F1C40F;
}

.database {
    background-color: #bdbec1;
}


/******************* SOFT SKILLS**************************/
.soft-skills h4 {
    text-transform: capitalize;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 100px 0 50px 140px;
}

.soft-skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    width: 80%;
    margin-left: 140px;
    margin-bottom: 50px;
}

.soft-skills-container p {
    width: 100%;
    display: flex;
    justify-content: center !important;
    align-items: center;
    margin-bottom: 20px;
    text-wrap: nowrap;
}

.soft-skills-heading {
    text-wrap: nowrap;
    width: 550px;
    background-color: #222222;
    padding: 15px 150px;
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: 1.3px;
    margin-bottom: 10px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    transition: 0.4s ease-in;
}

.soft-skills-heading:hover {
    cursor: pointer;
    background: rgb(255, 180, 0);
    background: radial-gradient(circle, rgba(255, 180, 0, 1) 0%, rgba(17, 17, 17, 1) 100%);
}

/********************************** NAV *****************************/
.skills-nav {
    position: fixed;
    top: 27%;
    left: 96%;
}

/* .skills-btn-hidden {
    top: 25px;
    right: 55px;
} */