/********** min 1550 ****************/
@media screen and (min-width: 1550px) {
    .technical-skills {
        margin-left: 50px;
    }

    .technical-skills h3 {
        margin-left: 195px;
    }


}

/********** 1650 ****************/
@media screen and (max-width: 1650px) {
    .soft-skills-heading {
        padding-left: 190px;
    }
    
    .padding1 {
        padding-left: 200px;
    }
    
    .padding2 {
        padding-left: 165px;
    }
}

/********** 1550 ****************/
@media screen and (max-width: 1550px) {
    .container-technologies {
        margin-left: -40px;
    }

    .container-planned-technologies {
        margin-left: -50px;
    }
}

/********** 1450 ****************/
@media screen and (max-width: 1450px) {
    .container-technologies {
        margin-left: 20px;
    }

    .tools-box {
        font-size: 1.4rem;
        gap: 50px;
    }

    .container-planned-technologies {
        margin-left: 0px;
    }
}

/********** 1350 ****************/
@media screen and (max-width: 1350px) {
    .technical-skills h3 {
        margin-left: 90px;
    }

    .tools {
        margin-left: -40px;
    }

    .tools-box {
        font-size: 1.5rem;
        /* gap: 45px; */
    }

    .planned-skills h4 {
        margin-left: 100px;
    }

    .soft-skills {
        margin-left: -35px;
    }
}

/********** 1300 ****************/
@media screen and (max-width: 1300px) {
    .skills-wrapper {
        overflow-x: hidden;
    }

    .technical-skills h3 {
        margin-left: 140px;
    }

    .technologies {
        width: 220px;
        height: 180px;
    }

    .container-technologies {
        margin-left: 20px;
    }

    .tools-box {
        gap: 40px;
    }

    .planned-technologies {
        width: 230px;
        height: 200px;
    }
}

/********** 1300 ****************/
@media screen and (max-width: 1300px) {
    .container-technologies {
        margin-left: 0;
    }

    .technical-skills h3 {
        margin-left: 100px;
    }

    .soft-skills-heading {
        width: 500px;
    }
}

/********** 1200 ****************/
@media screen and (max-width: 1200px) {
    .technical-skills h3 {
        margin-left: 50px;
    }

    .tools {
        margin-left: -70px;
    }

    .tools-box {
        font-size: 1.2rem;
        gap: 30px;
    }

    .planned-skills h4 {
        margin-left: 65px;
    }

    .soft-skills {
        margin-left: -75px;
    }
}

/********** 1150 ****************/
@media screen and (max-width: 1150px) {
    .container-planned-technologies {
        column-gap: 65px;
    }

    .planned-technologies {
        width: 180px;
        height: 150px;
    }

    .soft-skills-heading {
        width: 450px;
    }

    .soft-skills-container p {
        text-wrap: balance;
    }
}

/********** 1100 ****************/
@media screen and (max-width: 1100px) {
    .container-technologies {
        column-gap: 30px;
        row-gap: 30px;
    }

    .tools-box {
        flex-wrap: wrap;
    }
}

/********** 1050 ****************/
@media screen and (max-width: 1050px) {
    .technologies {
        width: 200px;
        height: 150px;
    }

    .technical-skills h3 {
        margin-left: 70px;
    }

    .soft-skills-heading {
        width: 420px;
        padding-left: 130px;
    }

    .padding1 {
        padding-left: 145px;
    }

    .padding2 {
        padding-left: 110px;
    }

}

/********** 1050 ****************/
@media screen and (max-width: 1050px) {
    .technical-skills h3 {
        margin-left: 40px;
    }
}

/********** 1024 ****************/
@media screen and (max-width: 1025px) {
    .technical-skills h3 {
        margin-left: 60px;
    }

    .tools-box {
        font-size: 1.1rem;
        gap: 24px;
    }
}

/********** 1000 ****************/
@media screen and (max-width: 1000px) {
    .container-planned-technologies {
        grid-template-columns: repeat(2, auto);
        row-gap: 70px;
        column-gap: 120px;
    }

    .planned-technologies {
        width: 280px;
        height: 250px;
    }

    .soft-skills-heading {
        width: 400px;
    }
}

/********** 950 ****************/
@media screen and (max-width: 950px) {
    .container-technologies {
        grid-template-columns: repeat(3, auto);
        column-gap: 30px;
        row-gap: 30px;
    }

    .technologies {
        width: 220px;
        height: 180px;
    }

    .technical-skills h3 {
        margin-left: 110px;
    }

    .soft-skills-heading {
        width: 370px;
    }

    .soft-skills-heading {
        font-size: 1rem;
        text-wrap: nowrap;
        text-align: center;
    }

    .soft-skills-heading {
        padding-left: 110px;
    }

    .padding1 {
        padding-left: 130px;
    }

    .padding2 {
        padding-left: 100px;
    }
}

/********** 900 ****************/
@media screen and (max-width: 900px) {
    .technical-skills h3 {
        margin-left: 70px;
    }

    .technologies {
        width: 200px;
        height: 150px;
    }

    .soft-skills-heading {
        width: 350px;
    }

    .soft-skills-container {
        margin-left: 130px;
    }
}

/********** 850 ****************/
@media screen and (max-width: 850px) {
    .container-planned-technologies {
        column-gap: 80px;
    }

    .soft-skills-heading {
        width: 330px;
    }

    .soft-skills-heading {
        padding-left: 90px;
    }

    .padding1 {
        padding-left: 110px;
    }

    .padding2 {
        padding-left: 70px;
    }
}

/********** 800 ****************/
@media screen and (max-width: 800px) {
    .skills-upper-text {
        margin-left: 200px;
    }

    .soft-skills-heading {
        width: 300px;
    }

    .soft-skills-heading {
        padding-left: 75px;
    }

    .padding1 {
        padding-left: 90px;
    }

    .padding2 {
        padding-left: 60px;
    }

    .soft-skills-container {
        column-gap: 20px;
    }

    .soft-skills-container {
        margin-left: 110px;
    }
}

/********** 777 ****************/
@media screen and (max-width: 777px) {
    .technical-skills h3 {
        margin-left: 60px;
    }

    .planned-technologies {
        width: 250px;
        height: 220px;
    }

    .planned-skills h4 {
        margin-left: 65px;
    }
}

/********** 750 ****************/
@media screen and (max-width: 750px) {
    .technical-skills h3 {
        margin-left: 85px;
    }

    .container-technologies {
        grid-template-columns: repeat(2, auto);
        column-gap: 60px;
        row-gap: 60px;
    }

    .technologies {
        width: 250px;
        height: 200px;
    }

    .skills-upper-text {
        margin-left: 150px;
    }

    .tools {
        margin-right: 30px;
    }
}

/********** 700 ****************/
@media screen and (max-width: 700px) {
    .soft-skills-heading {
        width: 270px;
    }

    .soft-skills-heading {
        padding-left: 60px;
    }

    .padding1 {
        padding-left: 80px;
    }

    .padding2 {
        padding-left: 45px;
    }
}

/********** 650 ****************/
@media screen and (max-width: 650px) {
    .container-technologies {
        column-gap: 30px;
        row-gap: 30px;
    }

    .technical-skills h3 {
        margin-left: 60px;
    }

    .skills-upper-text {
        margin-left: 120px;
    }

    .tools {
        margin-left: -90px;
    }

    .planned-technologies {
        width: 220px;
        height: 190px;
    }
}

/********** 600 ****************/
@media screen and (max-width: 600px) {
    .technologies {
        width: 220px;
        height: 180px;
    }

    .skills-upper-text {
        margin-left: 100px;
    }

    .browser {
        order: -1;
    }

    .container-planned-technologies {
        column-gap: 40px;
        row-gap: 50px;
    }

    .soft-skills-heading {
        width: 450px;
    }

    .soft-skills-container {
        grid-template-columns: 1fr;
    }

    .soft-skills-heading {
        padding-left: 150px;
    }

    .padding1 {
        padding-left: 150px;
    }

    .padding2 {
        padding-left: 140px;
    }

    .soft-skills-container {
        margin-left: 100px;
    }
}

/********** 550 ****************/
@media screen and (max-width: 550px) {
    .technologies {
        width: 200px;
        height: 150px;
    }

    .technical-skills h3 {
        margin: 0 auto 50px;
    }

    .tools h4 {
        margin-left: 280px;
    }

    .tools-box {
        margin-left: 180px;
    }

    .planned-technologies {
        width: 200px;
        height: 170px;
    }

    .soft-skills-heading {
        width: 420px;
    }

    .soft-skills-heading {
        padding-left: 140px;
    }

    .padding1 {
        padding-left: 140px;
    }

    .padding2 {
        padding-left: 125px;
    }

    .soft-skills h4 {
        margin-left: 270px;
    }
}

/********** 480 ****************/
@media screen and (max-width: 480px) {
    .technologies {
        width: 190px;
        height: 130px;
    }

    .tools h4 {
        margin-left: 250px;
    }

    .container-planned-technologies {
        grid-template-columns: repeat(1, auto);
        column-gap: 40px;
        row-gap: 50px;
    }

    .planned-technologies {
        width: 250px;
        height: 220px;
    }

    .planned-skills h4 {
        margin-left: 40px;
    }

    
}

/********** 500 ****************/
@media screen and (max-width: 500px) {
    .tools-box {
        margin-left: 150px;
    }

    .soft-skills-heading {
        width: 350px;
    }

    .soft-skills-heading {
        padding-left: 100px;
    }

    .padding1 {
        padding-left: 120px;
    }

    .padding2 {
        padding-left: 80px;
    }

    .soft-skills-container {
        margin-left: 85px;
    }

    .soft-skills h4 {
        margin-left: 250px;
    }
}

/********** 450 ****************/
@media screen and (max-width: 450px) {
    .container-technologies {
        grid-template-columns: repeat(1, auto);
    }

    .technologies {
        width: 270px;
        height: 200px;
    }

    .planned-skills h4 {
        margin: 0 auto 50px;
        /* font-size: 1.4rem; */
        width: 50%;
        text-wrap: balance;
    }

    .soft-skills h4 {
        margin-left: 220px;
    }
}

/********** 426 ****************/
@media screen and (max-width: 426px) {
    .skills-upper-text {
        margin-left: 70px;
    }

    .tools-box {
        margin-left: 145px;
    }

    .tools h4 {
        margin-left: 220px;
    }

    .tools h4 {
        width: 100%;
    }

    .planned-skills h4 {
        width: 70%;
        margin-left: 90px;
    }

    .planned-skills h4 {
        margin-left: 115px;
    }

    .soft-skills-heading {
        padding-left: 90px;
    }

    .padding1 {
        padding-left: 110px;
    }

    .padding2 {
        padding-left: 70px;
    }

    .soft-skills h4 {
        margin-left: 220px;
    }

    .soft-skills-heading {
        width: 320px;
    }
}

/********** 375 ****************/
@media screen and (max-width: 376px) {
    .technologies {
        width: 240px;
        height: 180px;
    }

    .tools-box {
        margin-left: 160px;
    }

    .tools h4 {
        margin-left: 200px;
    }

    .planned-skills h4 {
        margin-left: 90px;
    }

    .soft-skills h4 {
        margin-left: 195px;
    }

    .soft-skills-container {
        margin-left: 80px;
    }

    .soft-skills-heading {
        width: 280px;
    }

    .soft-skills-heading {
        padding-left: 65px;
    }

    .padding1 {
        padding-left: 85px;
    }

    .padding2 {
        padding-left: 50px;
    }
}

/********** 320 ****************/
@media screen and (max-width: 321px) {
    .skills-upper-text {
        margin-left: 60px;
    }

    .tools-box {
        margin-left: 140px;
    }

    .tools h4 {
        margin-left: 175px;
        width: 100%;
    }

    .planned-skills h4 {
        margin-left: 65px;
    }

    .planned-technologies {
        width: 200px;
        height: 170px;
    }

    .soft-skills-heading {
        width: 250px;
    }

    .soft-skills-heading {
        padding-left: 50px;
    }

    .padding1 {
        padding-left: 70px;
    }

    .padding2 {
        padding-left: 35px;
    }

    .soft-skills h4 {
        margin-left: 170px;
    }
}